<header id="header" class="main-header">
    <a href="/admin" class="logo">
        <span>Admin</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="/admin" class="side-bar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Navigation</span>
        </a>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li>
                <a href="">
                    <i class="fa fa-dashboard"></i>
                    <span>DashBoard</span>
                </a>
            </li>
            <li>
                <a href="/admin/category">
                    <i class="fa fa-bars"></i>
                    <span>Categories</span>
                </a>
            </li>
            <li>
                <a href="/admin/product">
                    <i class="fa fa-bars"></i>
                    <span>Products</span>
                </a>
            </li>
        </ul>
    </section>
</aside>