<%- contentFor('body') %>
<section id="account">
    <div class="container">
        <div class="row">
           <div class="col-xs--12">
               <h4 class="title upper bold">Register</h4>
               <span class="subtitle">Create New Account</span>
           </div>

           <div class="col-xs-12">
               <form action="/account/new" method="POST">
                    <% include partial/form_new %>
               </form>
           </div>
        </div>
    </div>
</section>