<div class="box-body">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Enter user email" value="<%= currentUser.email %>">
    </div>

    <div class="form-group">
        <label for="desc">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Enter user password" value="<%= currentUser.password %>">
    </div>

</div>

<div class="box-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/admin/user" class="btn btn-default">Back</a>
</div>