<div class="box-body">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter category name" value="<%= category.name %>">
    </div>

    <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" name="desc" class="form-control" placeholder="Enter category description" value="<%= category.desc %>">
    </div>

    <div class="form-group">
        <label for="desc">Enable?</label>
        <input type="checkbox" name="enable" value="1" <% if(category.enable) { %> checked <% } %> >
    </div>
</div>

<div class="box-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/admin/category" class="btn btn-default">Back</a>
</div>