<%- contentFor('body') %>
<section class="content-header">
    <h1>User
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"> </i></a></li>
        <li class="active">User List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header">
                <h3>Listing</h3>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/admin/user/new" class="btn btn-success">new</a>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < users.length; i++) { %>
                                <tr>
                                    <td><%= users[i].email %></td>
                                    <td>
                                        <a href="/admin/user/edit/<%= users[i]._id %>" class="btn btn-default btn-small">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <form action="/admin/user/<%= users[i]._id %>?_method=DELETE" method="POST" class="inline">
                                            <button class="btn btn-danger btn-small" type="submit">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>